
<style> 
  .collection { font-size: 70%;  padding: 5px; background-color: #FFFFBF;} 
</style>

<script type="text/javascript">
  var prefs = new gadgets.Prefs();
  
  // Initialize tabs.
  var tabs = new gadgets.TabSet(__MODULE_ID__);
                  
  function getCouncilData() {
    var councilId = prefs.getString("council");
    var params = {};
    params[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.JSON;
    // This URL returns a JSON-encoded string that represents a JavaScript object
    var url = "http://openlylocal.com/councils/" + councilId + ".json";
    gadgets.io.makeRequest(url, insertCouncilData, params);
  };

  
  function insertCouncilData(obj)
  { 
    var council = obj.data.council;
    gadgets.window.setTitle(council.name + " :: OpenlyLocal");
    var memberHtml = "";
    var committeeHtml = "";
    var meetingHtml = "";
    for (var i = 0; i < council.members.length; i++) {
      var m = council.members[i];
      memberHtml += "<a href='http://openlylocal.com/members/"+ m.id +"'>" + m.first_name + " " + m.last_name + "</a> ("+ m.party.name +")<br />";
    }    
   
    for (var i = 0; i < council.committees.length; i++) {
      var c = council.committees[i];
      committeeHtml += "<a href='http://openlylocal.com/committees/"+ c.id +"'>" + c.title + "</a><br />";
    } 

    for (var i = 0; i < council.meetings.length; i++) {
      var m = council.meetings[i];
      meetingHtml += "<a href='http://openlylocal.com/meetings/"+ m.id +"'>" + m.title + "</a><br />";
    } 
    document.getElementById('members').innerHTML = memberHtml;
    document.getElementById('committees').innerHTML = committeeHtml;
    document.getElementById('meetings').innerHTML = meetingHtml;
    
    tabs.addTab("Summary", {
       contentContainer: document.getElementById("summary")
    });
    tabs.addTab("Members", {
       contentContainer: document.getElementById("members")
    });
    tabs.addTab("Committees", {
       contentContainer: document.getElementById("committees")
    });
    tabs.addTab("Meetings", {
       contentContainer: document.getElementById("meetings")
    });

  }

  // Call the init function on page load
  gadgets.util.registerOnLoadHandler(getCouncilData);
  
</script>

<div id="summary" class="collection"><h4>Summary</h4></div>
<div id="members" class="collection" style="display:none"><h4>Councillors</h4></div>
<div id="committees" class="collection" style="display:none"><h4>Committees</h4></div>
<div id="meetings" class="collection" style="display:none"><h4>Meetings</h4></div>
