
<style> 
  .collection { font-size: 70%;  padding: 5px; background-color: #FFFFBF;} 
</style>

<script type="text/javascript">
  var prefs = new gadgets.Prefs();
  
  // Initialize tabs.
  var tabs = new gadgets.TabSet(__MODULE_ID__);
                  
  function getCouncilData() {
    var councilId = prefs.getString("council");
    var params = {};
    params[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.JSON;
    // This URL returns a JSON-encoded string that represents a JavaScript object
    var url = "http://openlylocal.com/councils/" + councilId + ".json";
    gadgets.io.makeRequest(url, insertCouncilData, params);
  };

  function insertCouncilData(obj)
  { 
    var council = obj.data.council;
    gadgets.window.setTitle(council.name + " :: OpenlyLocal");
    
    var partyBreakdown = [];
    for (var i = 0; i < council.members.length; i++) {
      var p = council.members[i].party;
      partyBreakdown[p] === undefined ? partyBreakdown[p] = 1 : partyBreakdown[p] +=1;
    }
    // turn in to proper array
    for (var party in partyBreakdown) {
      if (partyBreakdown.hasOwnProperty(party)) {partyBreakdown.push([partyBreakdown[party], party]);}
    }
    partyBreakdown = partyBreakdown.sort(function (a,b) {return b[0] - a[0]})
    var memberHtml = "";
    var committeeHtml = "";
    var meetingHtml = "";
    var summaryHtml = "<h4>" + council.name + "</h4><div class='contact_details'>" + council.address + ", tel: " + council.telephone + ", <a href='" + council.url + "'>" + council.url + "</a></div>";
    summaryHtml += "<div class='party_breakdown'>" + council.members.length + " councillors (";

    for (var i = 0; i < partyBreakdown.length; i++) {
      var p = partyBreakdown[i];
      summaryHtml += partyBreakdown[i][0] + " " + partyBreakdown[i][1];
      if(partyBreakdown.length - i > 1){summaryHtml += ", ";};
    }
    summaryHtml += ")</div>";


    for (var i = 0; i < council.members.length; i++) {
      var m = council.members[i];
      memberHtml += "<a href='http://openlylocal.com/members/"+ m.id +"'>" + m.first_name + " " + m.last_name + "</a> ("+ m.party +")<br />";
    }    
   
    for (var i = 0; i < council.committees.length; i++) {
      var c = council.committees[i];
      committeeHtml += "<a href='http://openlylocal.com/committees/"+ c.id +"'>" + c.title + "</a><br />";
    } 

    for (var i = 0; i < council.meetings.length; i++) {
      var m = council.meetings[i];
      meetingHtml += m.formatted_date + " <a href='http://openlylocal.com/meetings/"+ m.id +"'>" + m.title + "</a><br />";
    } 
    document.getElementById('members').innerHTML = memberHtml;
    document.getElementById('committees').innerHTML = committeeHtml;
    document.getElementById('meetings').innerHTML = meetingHtml;
    document.getElementById('summary').innerHTML = summaryHtml;
    
    tabs.addTab("Summary", {
       contentContainer: document.getElementById("summary")
    });
    tabs.addTab("Members", {
       contentContainer: document.getElementById("members")
    });
    tabs.addTab("Committees", {
       contentContainer: document.getElementById("committees")
    });
    tabs.addTab("Meetings", {
       contentContainer: document.getElementById("meetings")
    });

  }

  // Call the init function on page load
  gadgets.util.registerOnLoadHandler(getCouncilData);
  
</script>

<div id="summary" class="collection">Loading...</div>
<div id="members" class="collection" style="display:none">Loading...</div>
<div id="committees" class="collection" style="display:none">Loading...</div>
<div id="meetings" class="collection" style="display:none">Loading...</div>
