(function(){
	var council_id = <%= @council.id %>;
	document.write('<style lang="text/css">div.olwidget {margin:3px; width:100%;}\n .olwidget h3 { border-bottom: 1px solid #ccc; margin: 0.5em 0 0 0;}\n .olwidget h4 { color: #333;  border-bottom: 1px solid #ccc; margin: 0.5em 0 0 0;}\n .olwidget .footer { padding 5px; background-color: #eee; border-top: 1px solid #676767; margin-top: 1em;}\n .olwidget .date {text-transform:uppercase;}\n .olwidget a {text-decoration: none; color: #003366;}\n .olwidget ul {padding: 10px; margin:0.5em 0.25em;}\n .olwidget a.calendar img {border:none;}\n .olwidget .official_page {color: #666;background: transparent url(http://openlylocal.com/images/ext_link.gif) no-repeat left center; padding-left:10px;}</style>');
  
  document.write('<div class="olwidget" id="openlylocal-widget">');

  document.write('Loading...');

  document.write('</div>');
  
  function listItemFor(obj) {
    var li = "<li>";
    li += obj.formatted_date ? ('<span class="date">' + obj.formatted_date + '</span>') : "";
    li += " <a href='" + (obj.openlylocal_url || obj.url) + "'>";
    li += (obj.title || obj.name || (obj.first_name + " " + obj.last_name));
    li += "</a>" + (obj.party ? " (" + obj.party + ")" : "");
    li += obj.openlylocal_url && obj.url ? (" <a href='" + obj.url + "' class='official_page'>official page</a></li>") : "</li>";
    return li;
  }

  function listAll(coll) { 
    if(coll.length && coll.length > 0){
      var listResult = "<ul>";
      for (var i = 0; i < coll.length && i < 8; i++) {
        var li = coll[i];
        listResult += listItemFor(li);
      }
      listResult += "</ul>";
      return listResult;
    }
    else { return '';}
  }

  function insertCouncilData(data)
  { 
    var council = data.council;
    var partyBreakdown = [];
    var partyBreakdownObj ={};
		var header = '<h3><a href="http://openlylocal.com/councils/' + council_id + '">' + council.name + '</a></h3>';
    var footer = "<div class='footer'>More details and info at <a href='http://openlylocal.com'>OpenlyLocal</a> :: Making local government more transparent</div>";
		var form = '<form method="get" class="form" action="http://openlylocal.com/areas/search"><label for="postcode">Info on your area:</label><input type="text" name="postcode" id="postcode"><input type="submit" value="Search by postcode" name="submit" id="submit" class="form_submit"></form>';
		var meetingsHtml = '<h4>Upcoming meetings</h4>' + listAll(council.meetings) + '<a class="calendar feed" href="webcal://openlylocal.com/councils/' + council_id + '/meetings.ics"><image src="http://openlylocal.com/images/feed_icon.gif">Subscribe to calendar</a>'
    $('.olwidget').html(header + form + meetingsHtml + footer);

  }
  
  jQuery.getJSON('http://openlylocal.com/councils/' + council_id +'.json?callback=?', function(data){insertCouncilData(data);});
 })();