<html>
<head>
  <style type="text/css">
    body { color: #0d0d0d; font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;}
  </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#FFFFFF' >
    <%= error_messages_for :scraper %>
    <%= error_messages_for :parser, :header_message => "Problem parsing scraped page", :message => "The following problems occurred:" %>

    <div id="results">
      <h3>Scraping Results: <%= @scraper.results.size %> records found</h3>
      <%- for result in @scraper.results -%>
        <%= render :partial => 'scrapers/scraped_object', :object => result %>
      <%- end -%>
    </div> 

</body>
</html>