<%- content_tag(:li, {:class => list_item.status }.merge(list_options)) do -%>
  <span class="date"><%= list_item.date_held.to_s(:event_date) %></span> <%= image_tag("cancelled_flash.gif", :alt => "cancelled", :class => "icon") if list_item.cancelled? %><%= link_for list_item %>
<%- end -%>