log/*.log
log/*.log.*
tmp/**/*
.DS_Store
*.tmproj
doc/api
doc/app
db/*.sqlite3
config/initializers/authentication_details.rb
config/initializers/hoptoad.rb
config/database.yml
config/deploy.rb
config/smtp_gmail.yml
config/twitter.yml
config/newrelic.yml
config/nginx_production.conf
config/deploy
Capfile
public/cache
