log/*.log
log/*.log.*
tmp/**/*
.DS_Store
*.tmproj
doc/api
doc/app
db/*.sqlite3
db/data
config/initializers/authentication_details.rb
config/initializers/geokit_config.rb
config/initializers/hoptoad.rb
config/initializers/resque.rb
config/database.yml
config/newrelic.yml
config/resque.yml
config/smtp_gmail.yml
config/twitter.yml
config/openlylocal.com.priv
config/openlylocal.com.pub
public/cache
*~
.bundle
.rvmrc
