/*Global formats*/
/*See also blueprint styles*/
h1 {font-size: 2em;}
h4 {margin-bottom: 0.625em;}
a {
	text-decoration: none;
	color:#036;}
a:hover {text-decoration: underline;}
textarea {
	height:auto; /*override blueprint*/
}
label {
	float: left;
	width: 12em;
	clear: left; }
h1 em, h2 em, h3 em, h4 em, label em {
	color: #9e9e9e;
	font-size: .6em;
	vertical-align:top;
	font-style: normal; }
caption em {
	color: #666;
	font-style: normal;}
input, textarea {
	border:1px solid #515151;
	margin-bottom:0.5em;
	margin-right:0.5em; }
.clear-left {
	clear:left; }
div.title {
	font-weight: bold; }
p.attribution {
	clear:both;
	text-align: right; }
a.external {
	background: transparent url(../images/ext_link.gif) no-repeat scroll right center;
	padding-right:10px; }
a.external:hover {
	background: transparent url(../images/ext_link_hover.gif) no-repeat scroll right center;
	padding-right:10px; }

a.feed, a.rss {
	background: transparent url(../images/feed_icon.gif) no-repeat scroll left top;
	margin-left:2px;
	padding: 2px 0px 2px 18px;
	 }
a.twitter {
	background: transparent url(../images/twitter_icon.png) no-repeat scroll left top;
	 }
/*a.new {
	display: inline-block;
	padding-left: 24px;
	background: transparent url(../images/new_flash.gif) no-repeat left;}
a.updated {
	display: inline-block;
	padding-left: 46px;
	background: transparent url(../images/updated_flash.gif) no-repeat left;}*/
a.stale {
	color: #740;
}
a.problematic {
	color: #a11;
}
a.problematic:before, a.stale:before {
	text-transform: uppercase;
	color:#fff;
	font-size:.8em;
	padding: 1px 3px;
	margin-right: 3px;
}
a.stale:before {
	content: "Stale";
	background-color:#740;
}
a.problematic:before {
	content: "Problem";
	background-color:#a11;
}
a.button {
	border:1px solid #9e9e9e;
	background-color:#ddd;
	padding:1px 4px;
}
a.help img {
	vertical-align:top;
}
p.more_info, a.more_info{
	text-align:right;
	font-style: italic;
}
p.more_info a, a.more_info{
margin-left:2em;
}

.more_info a:after, a.more_info:after {
	content: "»"; }
td.more_info a:after {
	content: normal; }
.citation {
	vertical-align: super;
	font-size: 80%;
}
.citation a {
	color: #9e9e9e;
}
.warning, .alert {
	font-size: 120%;
	font-weight:bold;
	color: #8a1f11;}
.alert {
	border: 1pt solid #FBC2C4;
	background-color: #FBE3E4;
	padding:.5em;
	margin-bottom: 1em;
}
img.icon {
	margin: 0 .25em;}
body.councils li a.unparsed, body.committees li a.inactive, body.members a.ex_member, a.vacancy {
	color:#9e9e9e; }

/*General template format*/
body {
	background-color:#ddd; }
.container {
	background-color:#fff;
	padding: 18px;
	padding-bottom: 0px;
	margin-top: 18px;}
#content {
	min-height: 600px; }
#header {
	padding: 6px 6px;
	border-bottom: #036 solid 3px;
	background: #EFF7FF url(../images/header_bg.gif) repeat-y scroll 0 0;
	margin-bottom: 9px;}
#header h2 {
	margin: 0;
	color: #036;
	line-height:50px; }
#header h2 a {
	text-decoration: none;
	color: #69b;
	width:260px;
	height:50px;
	background:transparent url(../images/openlylocal_logo.gif) no-repeat center left;
	text-indent:-9000px;
	display: block;
	float:left;
	margin-right:.5em;
	z-index:3;}
#header h2 em {
	color: #036;
	font-size:100%; }
#footer {
	margin-top:18px;
	text-align:right;
	clear:both;
}
#footer #standards{
	float:left;
}
#share_block {
	clear:both;
	text-align:right;}

/*Council document formatting*/
.document_body {
	border: 1px solid #ddd;
	padding: 12px;
	background-color: #eeefff;
	font-family: Times New Roman;}
.document_body h1 {
	font-size: 1.8em;}
.document_body h2 {
	font-size: 1.6em;}
.document_body h3 {
	font-size: 1.4em;}
.document_body p {
	margin: 0;}
	
/*General resource formatting - councils, members, committees, etc*/
.extra_info {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	margin-bottom: 2em;
	padding:4px;
	overflow: auto;
}
.extra_info  {
	clear: left;
	float:left;
}
.extra_info .notes h4 {
	float: left;
	width: 5em;
}
.attributes dt {
	float: left;
	width: 11em;
	clear: left;
	text-align:right;
}
.attributes dd {
	float:left;
	max-width:350px;
}
div.item_grouping {
float: left;
width: 290px;
padding-right: 20px;}
div.item_grouping h3 {
	border-bottom: 1px solid #036;
	margin-bottom: 0.5em;
}
div#relationships {
	clear:left;
	padding-top:1em;
}
/*Council formatting*/
body.councils h1 {
	float:left;}
body.councils .extra_info {
	max-width:620px;}
#data {
	overflow:auto;
	}
#data h1 {
	float:left;
	}
#data .attributes {
	clear:left;
	margin-bottom: 0.75em;
	}
#party_breakdown {
	float:right;
	width:450px;
	height:200px;
	margin-bottom: 0.75em;
}
#party_breakdown img {
	position:absolute;
}
.graphed_datapoints {
	position: relative;
}
.graphed_datapoints table {
	position:absolute;
	left:-2000px;
}
#members li a {
	font-weight: bold;
}
/*Meeting formatting*/
.past {color:#515151;}
.past a {color:#282828;}
.cancelled, a.cancelled {color:#9e9e9e; }
/*.future a {font-weight:bold;}*/

/*Parser-specific formatting*/
div.item_attribute {
	clear:left; }
div.item_attribute p {
	float:left; }
div.parser {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	clear:left;
	padding: 1.48em;
	margin-bottom: 1.5em; }
div.parser h4 {
	margin-bottom: 0; }
div.parser_attribute {
	clear:left; }
div.parser_attribute div {
	float:left; }
div.parser_attribute .title {
	width: 12em;
	text-align: right;
	margin-right: 1em; }
div.parser code.item_parser {
	margin-left: 9em; }

div.new, .changed {
	border:2px solid #DDDDDD;
	margin-bottom:1em;
	padding:0.8em;
	}
.changed {
	background:#FFF6BF;
	border-color:#FFD324;
	}
div.new {
	background:#E6EFC2;
	border-color:#C6D880;
	}
.errors {
	background:#FBE3E4;
	border-color:#8a1f11;
	}
div.unchanged {
	margin-bottom: .5em; }
.unchanged, .unchanged a {
	color: #515151; }
.unchanged h4 {
	color: #282828;
	margin-bottom: 0; }
span.flash {
	border:none;
	color:#fff;
	padding: 3px 6px;
	float:right; }
span.new {
	background-color:#264409; }
span.changed {
	background-color:#514721; }
span.error, span.errors {
	background-color:#8a1f11; }
	
/*Scraper-specific formatting*/
a.new_scraper_link {
	color:#9e9e9e; }
#other_scrapers {
	float: right;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	padding: 1em;
}
#councils #without_scrapers {
	float:right;
	width: 250px;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	margin: 0 2em;
	padding:.5em;
}
#councils #without_scrapers .council {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
}
#councils #without_scrapers h4{
	margin-bottom: 0.5em;
}
#councils #without_scrapers .council p{
	margin: 0;
}

/*Ward-specific formatting*/
/*body.wards .ward {
	float:left;
	width: 630px;
}
*/
/*Dataset specific formatting*/
/*NB Much of this can be deleted when move to new style datasets is completed*/
#statistics {
	width: 300px;
	overflow:auto;
}
div#dataset_data {
	overflow:auto;
}
div#dataset_data th {
	min-width:7em;
	vertical-align:bottom;}
div#dataset_data table {
	width:auto;} /*override blueprint*/
/*.datapoint {
	float:left;
	margin-right:20px;
	margin-bottom: 1em;
}*/
/*.datapoint a.more_info {
	display:block;
	float:right;
}*/
/*.datapoint .data {
	clear:both;
	overflow:auto;
	width:100%;
}
.datapoint .data .description {
	float:left;
	width: 70%;
}
.datapoint .data .value {
	float:right;
	font-weight:bold;
}
*/

/*Ness Statistics formatting*/
#grouped_datapoints {
	clear:both;
	float: right;
	padding-right:0px;
}
#grouped_datapoints dt {
  clear:left;
	float: left;
	width: 20em;
}
#grouped_datapoints dd {
	margin-left: 21em;
}

#grouped_datapoints table, table.statistics {
background-color: #eee;
clear:left;
}
#grouped_datapoints td, table.statistics td {
	border-bottom: 1px solid #fff;
}
table.statistics .selected td {
	font-weight: bold;
}
#grouped_datapoints table th, table.statistics th {
	background-color: #bcd;
}
#grouped_datapoints table caption, table.statistics caption {
	background-color: #fff;
}
#grouped_datapoints table caption, #grouped_datapoints h4, table.statistics caption {
border-bottom: 1px solid #ddd;
font-size: 1.2em;
font-weight:bold;
}
table.statistics td, table.statistics th, table.statistics caption {
	padding: 4px 5px;
}
#grouped_datapoints td.value, #grouped_datapoints th.value, table.statistics .value {
text-align:right;
}
#grouped_datapoints .stats_in_words {
font-size: 1.2em;
}
table.datapoints {
	width: 900px;
}
table.datapoints td.value {
	width: 120px;
}
table.datapoints td.description {
	background: #fcd;
	background-image:url(/images/datapoint_bar.png);
	background-repeat: repeat-y;
}
table.datapoints .datapoint {
	float:none;
}
table.datapoints tr.total td {
	border-top:1px solid #036;
	font-weight:bold;
	text-align:right;
	background-color:#bcd;
	background-image:none;
}
table.datapoints td.more_info {
	width: 50px;
}

/*Hyperlocal formatting*/
#new_hyperlocal_site label {
	color:#666;
}
#new_hyperlocal_site .required label {
	color:inherit;
}
#new_hyperlocal_site .required label:before {
	content:"*";
	color:#8a1f11;
}
#map_outer {
	border:1px solid #999;
	float:right;
	height:350px;
	padding:3px;
	width:450px;
}
#map_canvas {
	height:450px;
	width:450px;
}

ul#hyperlocal_sites>li {
	list-style:none;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: upper;
} 
ul#hyperlocal_sites li li{
	font-weight: normal;
	font-size: .9em;
} 

/*Misc formatting*/
#api_info {
	clear: both;
	background-color: #f3f3f3;
	border-top: 1px solid #ddd;
}
#api_info a {
	font-weight: bold;
}
#site_news {
	background-color:#F0F0F0;
	border:1px solid #CCCCCC;
	float:right;
	padding:6px;
	width:260px;
	margin-left: 1em;
	}
#site_news h2 {
	background-color:#ddd;
	margin:-6px -6px 0;
	padding:0 6px;
	font-size: 1.4em;
	}
#site_news h4 {
	margin-bottom:0;
	margin-top:6px;
}
#site_news div.news_item {
	font-size:90%;
}
#categories {
	float: right;
	width: 300px;
	border:1px solid #ddd;
	padding: 1em;
	background-color: #F0F0F0;
}
#categories li {
}

/*Autocomplete styling*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will appear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #BDDAEA;
	color: white;
}
