<div class="intro">
  <div id="splash">
    <div id="screengrab">
      <%= image_tag('planning_alerts_closed.png') %>
    </div>
    <h3>...but will be coming back as part of OpenlyLocal.</h3>
  </div>
  
  <p>We're currently incorporating all the existing data in to OpenlyLocal and will start writing the scrapers soon.</p> 
  <p>Follow <a href="http://twitter.com/#!/PlanningAlert" class="twitter feed">PlanningAlert</a> or <a href="http://twitter.com/#!/OpenlyLocal" class="twitter feed">OpenlyLocal</a> to be alerted to the latest news.</p>
</div>
