<h1>UK Planning Applications</h1>

<p class="intro">We were very sorry to see PlanningAlerts.com close... but happy to announce thatall the functionality (and more) will be coming back as part of OpenlyLocal. Follow @PlanningAlertsUK or @OpenlyLocal to be alerted to the latest news.</p>