<div id="footer">
  <div id="standards">
    <a href="http://www.w3.org/WAI/WCAG1AA-Conformance"
          title="Explanation of Level Double-A Conformance">
      <img height="32" width="88" 
              src="/images/wcag1AA-blue.png"
              alt="Level Double-A conformance icon, 
              W3C-WAI Web Content Accessibility Guidelines 1.0" />
    </a>
    <a href="http://opendefinition.org/">
      <img alt="This material is Open Data"
      src="/images/od_80x15_blue.png" />
    </a>
    
  </div>
  <%= link_to "About Openly Local", "/info/about_us" %> :: 
    <span>
      Built by <%= link_to "countculture", "http://countculture.wordpress.com", :class => "external" %>.
    </span> :: <a href="http://twitter.com/countculture" title='Twitter feed for countculture' class="twitter feed">countculture on Twitter</a>
		:: See also <a href="http://opencharities.org/" title="OpenCharities" class="external">OpenCharities</a> and <a href="http://OpenCorporates.com/" title="The Open Database Of The Corporate World" class="external">OpenCorporates</a>
  <br />
  <%= link_to "Legal/Licence", "/info/licence_info" %> :: 
  <a href="http://github.com/CountCulture/twfy_local_parser/issues" class="external">Report Bugs/Request new features</a> :: <a href="http://twitter.com/OpenlyLocal" class="twitter feed" title='Twitter feed for OpenlyLocal'>Openly Local Twitter notifications</a>
</div>
