<div id="footer">
  <%= link_to "About Openly Local", "/info/about_us" %> :: 
  <span about="" rel="foaf:maker">
    <span typeof="foaf:Person">
      Put together for sheer hell of it by <%= link_to "CountCulture", "http://countculture.wordpress.com", :class => "external", :rel => "foaf:blog", :property => "foaf:nick" %>.
    </span> :: <a href="http://twitter.com/CountCulture" title="">CountCulture on Twitter</a>
  </span>
  <br />
  Code at <a href="http://github.com/CountCulture/twfy_local_parser/" class="external">Github</a> :: <a href="http://github.com/CountCulture/twfy_local_parser/issues" class="external">Report Bugs/Request new features</a> :: <a href="https://twitter.com/OpenlyLocal">OpenlyLocal Twitter notifications</a>
</div>
