<div id="footer">
  <div id="standards">
    <a href="http://www.w3.org/WAI/WCAG1AA-Conformance"
          title="Explanation of Level Double-A Conformance">
      <img height="32" width="88" 
              src="http://www.w3.org/WAI/wcag1AA-blue"
              alt="Level Double-A conformance icon, 
              W3C-WAI Web Content Accessibility Guidelines 1.0" />
    </a>
    <a href="http://opendefinition.org/">
      <img alt="This material is Open Data"
      src="http://m.okfn.org/images/ok_buttons/od_80x15_blue.png" />
    </a>
    
  </div>
  <%= link_to "About Openly Local", "/info/about_us" %> :: 
  <span>
    <span>
      Put together for sheer hell of it by <%= link_to "countculture", "http://countculture.wordpress.com", :class => "external" %>.
    </span> :: <a href="http://twitter.com/countculture" title='Twitter feed for countculture' class="twitter feed">countculture on Twitter</a>
  </span>
  <br />
  <%= link_to "Legal/Licence", "/info/licence_info" %> :: 
  <a href="http://github.com/CountCulture/twfy_local_parser/issues" class="external">Report Bugs/Request new features</a> :: <a href="http://twitter.com/OpenlyLocal" class="twitter feed" title='Twitter feed for OpenlyLocal'>Openly Local Twitter notifications</a>
</div>
