<div id="header">
  <h2><%= link_to "OpenlyLocal", root_path %> <span id="slogan">making local government more transparent</span></h2>
  <div id="navigation">
    <%= link_to "All Councils", councils_path %>
    <%= link_to "Hyperlocal Sites Directory", hyperlocal_sites_path %>
    <%= render :partial => 'shared/area_search_form' %>
  </div>
</div>
