  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="verify-v1" content="NzpNKPfTKdphqcFS3qiUmxtQSE0n2gViSNqrhrEs9BI=" />
    <meta name="verify-v1" content="FM6IJNZagubelMDP2u3Lp0i42aN/56JYl7jVbSR5X/k=" />
    <title><%= "#{@page_title || @title} :: " if @title %><%= "#{@council.title} :: " if @council %>Openly Local</title>
    <meta content="Opening up Local Government Data" name="description" />
    <%= tag(:link, @header_link) if @header_link %>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/twfy_local.css" type="text/css" media="screen" charset="utf-8" />
    <%= javascript_include_tag :defaults %>
    <%#= javascript_include_tag "jquery.min.js" %>
  </head>
