<div class="alert-info">
  <strong>New!</strong> <%= link_to "Get email alerts when there's a new planning application near you", new_alert_subscriber_path %> This free service searches planning authority websites and emails you details of applications near you. This enables shared scrutiny of what is being built (and knocked down) in your community.
</div>
