<div class="alert-info">
  <strong>New!</strong> <%= link_to 'Receive email alerts when something new is planned:', new_alert_subscriber_path %> This free service searches planning authority websites and emails you details of applications near you. The aim of this to enable shared scrutiny of what is being built (and knocked down) in your community.
</div>
