<h1>ONS Datasets</h1>

<%- @ons_datasets_families.each do |dataset_family| -%>
  <%- div_for dataset_family do -%>
    <div class="subjects">
      <%- dataset_family.ons_subjects.each do |subject| -%>
        <span class="subject"><%= subject.title %></span> :: 
      <%- end -%>
    </div>
    <h3><%= dataset_family.title %></h3>
    <ul>
      <%- dataset_family.ons_datasets.each do |dataset| -%>
        <li class="dataset"><%= dataset.title %></li>
      <%- end -%>
    </ul>
  <%- end %>
<%- end %>
  