<h1><%= h @title %></h1>
<dl id="main_attributes" class="attributes">
  <%#= attribute_tag :police_force, basic_link_for( @police_team.police_force) %>
  <%= attribute_tag :web_page, link_to(@parish_council.website, @parish_council.website, :class => "external") if @parish_council.website? %>
  <%= attribute_tag :os_id, link_to(@parish_council.os_id, "http://data.ordnancesurvey.co.uk/doc/#{@parish_council.os_id}", :class => "external"), :text => "Ordnance Survey ID" %>
  <%#= attribute_tag :about_this_team, @police_team.description %>
  <%#= attribute_tag :wards_policed_by_this_team, @police_team.wards.collect{ |w| link_for(w) }.join(', ') %>
</dl>

<%= timestamp_data_for @parish_council %>