<li>
  <strong><%= link_for list_item, list_options %></strong><%= " (next meeting: #{link_for(list_item.next_meeting, :text => list_item.next_meeting.date_held.to_s(:event_date))})" if list_item.next_meeting %>
</li>
