<h1>OpenlyLocal Planning Alerts</h1>
 
<p class="alert">
  We were unable to activate your OpenlyLocal Planning Alerts subscription. If you think this is our error, please forward the confirmation email to <%= mail_to 'planning@openlylocal.com', 'planning@openlylocal.com', :encode => :javascript %>.
</p>
