<h1>Planning Application alerts</h1>

<p class='alert'>
  Thank you for subscribing for planning application alerts. You will be shortly sent an email containing a confirmation link.
  Please click on that to confirm your subscription.
</p>