<li>
  <strong><%= link_for list_item %></strong> (<span class='value'>£<%= number_with_delimiter(list_item.total_spend.to_i) %> in total</span>, <span class='value'>£<%= number_with_delimiter(list_item.average_monthly_spend.to_i) %></span> per month)
</li>