<h1>About Us</h1>

<dl id="faq">
  <dt>What is Openly Local?</dt>
    <dd>Openly Local is a place to access data about the workings of your Local Council, without having to poke around through dense, difficult-to-navigate websites</dd>
  <dt>Is that all?</dt>
    <dd>Well, no useful though that would be, the key is to put that information into a structured form, so it can be reused by mash-ups, in data feeds (such as your calendar), or for comparative analysis</dd>
  <dt>Why do this?</dt>
    <dd>We wanted access to this data, and there was no way of getting it, so we scratched our own itch, so to speak.</dd>
  <dt>Why is my local council not listed on here?</dt>
    <dd>Probably it's because we haven't gotten around to it yet (but by all means email us at <%= mail_to "countculture@googlemail.com", nil, :encode => "javascript" %> and we'll try to prioritize). Occasionally it's because the council website is very tricky to parse (i.e. the information is so badly arranged it's difficult to extract) -- even then it's not impossible, and again do contact us and we'll try to prioritize it</dd>
  <dt>I'm from a council and we don't want our data on here</dt>
    <dd>Really? OK. First we ask you to think again. A working democracy require both transparency and the engagement of its citizens in the process, and that's what we're about. If you have specific concerns, please email <%= mail_to "countculture@googlemail.com", nil, :encode => "javascript" %></dd>
  <dt>What are your politics?</dt>
    <dd>Openly Local is not affiliated with, supporter of or linked in any way with any political organization</dd>
</dl>