<h1>Licence Information</h1>
<h3>Overview</h3>
<p>
The information on <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> comes from a variety of sources, and therefore has a variety of licences attached to it, some better than others. The whole purpose of <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a>, however, is to open up data, and so we are actively working with bodies to enable all the information we hold to is genuinely open, free for reuse both non-commercially and commercially. 
</p>
<h3>The information & associated licences</h3>
<p>
Much of the data, particularly the statistics, comes from central government and is <a href="http://www.opsi.gov.uk/advice/crown-copyright/index.htm" title="Crown Copyright" class="external">Crown Copyright</a> and so can usually be reused both commercially and non-commercially under the <a href="http://www.opsi.gov.uk/click-use/index" title="Click-Use Licensing" class="external">Click-Use Licence</a>. Other information comes from Local Authorities, and here the situation is a bit more complicated, with the usage situation here varying from authority to authority. <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> believes that it is important for a functioning democracy that this information is made available as widely as possible, and not only have we not had any requests to remove information we have had several local authorities ask us to add their information to <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a>. 
</p>
<p>
However it should be stressed that you reuse this information at your own risk and <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> has no rights to this underlying information, and therefore offers no licence for its reuse. <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> itself holds copyright to text, terms, images and other assorted information that's on the website, or is available through the API and other channels (e.g. <a href="http://twitter.com/OpenlyLocal" title="OpenlyLocal twitter account" class="external">Twitter</a>). It also holds database rights to the structure and relationships of the data. 
</p>
<p>
We have applied a <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons &mdash; Attribution-Share Alike 3.0 Unported" class="external">Share-Alike Attribution Licence</a> to the copyright, and the similar <a href="http://www.opendatacommons.org/licenses/odbl/1.0/" title="Open Data Commons &raquo; Open Database License (ODbL) v1.0" class="external">Open Database Licence</a> for the database rights. This means the information can be used both non-commercially and commercially without charge, however <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> must be attributed as per the attribution notice below. If you wish to use the information without attribution you must contact us for a licence. 
</p>
<p>
If you do reuse the information it would be great if you could let us know. That way we can work with the users to provide more useful data and ways of presenting it, and also let them know when there are important changes, e.g. API changes, logo changes. Email us at <%= mail_to "info@openlylocal.com", nil, :encode => "javascript" %> with your details. We also blog at <a href="http://blog.openlylocal.com/" title="OpenlyLocal News" class="external">blog.openlylocal.com</a> and tweet at <a href="http://twitter.com/OpenlyLocal" title="@OpenlyLocal Twitter account" class="external">@OpenlyLocal</a> (generally automated notifications) and <a href="http://twitter.com/countculture" title="@countculture Twitter account">@countculture</a>.
</p>
<p>
<a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> is based in England and these terms are subject to English law and to the non-exclusive jurisdiction of the English courts.
</p>

<h3>Attribution</h3>
<p>
In order for people to trace the information back its source we require attribution in the following form: <br />
<ul>
  <li>Use of any data must be accompanied by a hyperlink reading "from OpenlyLocal" and linking to either the <a href="http://openlylocal.com/" title="Openly Local :: Making Local Government More Transparent">OpenlyLocal</a> homepage or the page referring to the information in question. The URL for this is returned in most API calls and if you are making use of the API we we would expect you to use the latter form. </li>
  <li>
  The attribution must be no smaller than 70% of the size of the largest bit of information used, or 7px, whichever is larger. You can also use one of the OpenlyLocal buttons below to credit the information and this may be more appropriate if you are doing a standalone widget. Please note these buttons and the OpenlyLocal logo should only be used for this purpose, and must be removed if requested by OpenlyLocal. We recommend that you use the html snippets below when using these buttons so that you will always be showing the most up-to-date version. 
  </li>
  <li>
    If you are making the information available via your own API you need to make sure your users comply with all these conditions.
  </li>
</ul>

<h4>OpenlyLocal web buttons</h4>
<p>
  <h5>240 x 60 pixels</h5>
  <!-- OpenlyLocal Link -->
  <a href="http://openlylocal.com/" title="Information provided by OpenlyLocal :: Making your area more transparent">
    <img alt="OpenlyLocal :: Making your area more transparent" border="0"
    src="http://openlylocal.com/images/openlylocal_button_240x60.gif" /></a>
  <!-- /OpenlyLocal Link -->  
  <pre class="code">
    &lt;!-- OpenlyLocal Link --&gt;
    &lt;a href=&quot;http://openlylocal.com/&quot; title=&quot;Information provided by OpenlyLocal :: Making your area more transparent&quot;&gt;
      &lt;img alt=&quot;OpenlyLocal :: Making your area more transparent&quot; border=&quot;0&quot;
      src=&quot;http://openlylocal.com/images/openlylocal_button_240x60.gif&quot; /&gt;&lt;/a&gt;
    &lt;!-- /OpenlyLocal Link --&gt;  
  </pre>
</p>
<p>
  <h5>120 x 30 pixels</h5>
  <!-- OpenlyLocal Link -->
  <a href="http://openlylocal.com/" title="Information provided by OpenlyLocal :: Making your area more transparent">
    <img alt="OpenlyLocal :: Making your area more transparent" border="0"
    src="http://openlylocal.com/images/openlylocal_button_120x30.gif" /></a>
  <!-- /OpenlyLocal Link -->  
  <pre class="code">
    &lt;!-- OpenlyLocal Link --&gt;
    &lt;a href=&quot;http://openlylocal.com/&quot; title=&quot;Information provided by OpenlyLocal :: Making your area more transparent&quot;&gt;
      &lt;img alt=&quot;OpenlyLocal :: Making your area more transparent&quot; border=&quot;0&quot;
      src=&quot;http://openlylocal.com/images/openlylocal_button_120x30.gif&quot; /&gt;&lt;/a&gt;
    &lt;!-- /OpenlyLocal Link --&gt;  
  </pre>
</p>