<h1>Resources</h1>

<h3>Linked Data resources for local government</h3>
<ul>
  <li><a href="http://www.w3.org/DesignIssues/GovData" title="Putting Government Data online - Design Issues">Putting Government Data online - Design Issues (Tim Berners-Lee)</a></li>
  <li><a href="http://blogs.cabinetoffice.gov.uk/digitalengagement/post/2009/10/12/Help-shape-URI-standards-for-the-UK-Public-Sector.aspx" title="Help shape URI standards for the UK Public Sector">URI standards for the UK Public Sector (Interim Standard)</a></li>
  <li><a href="http://www.w3.org/TR/gov-data/" title="Publishing Open Government Data">W3C Working Draft: Publishing Open Government Data</a></li>
</ul>