
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Openly Local :: System down for maintenance</title>
  
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/twfy_local.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="maintenance">
  <div class="container">
    <div id="header">
      <h2><a href="/">"OpenlyLocal"</a> <span id="slogan">making local government more transparent</span></h2>
    </div>
      <div id="content">
        <div>
          <p>
            Openly Local is temporarily <strong>down for <%= reason ? reason : "maintenance" %></strong>
            as of <%= Time.now.strftime("%H:%M %Z") %>.
          </p>
          <p>
            We'll be back <%= deadline ? deadline : "shortly" %>.
          </p>
        </div>
      </div>
      <div id="footer">
        <div id="standards">
          <a href="http://www.w3.org/WAI/WCAG1AA-Conformance"
                title="Explanation of Level Double-A Conformance">
            <img height="32" width="88" 
                    src="http://www.w3.org/WAI/wcag1AA-blue"
                    alt="Level Double-A conformance icon, 
                    W3C-WAI Web Content Accessibility Guidelines 1.0"></a>

        </div>
        <a href="/info/about_us">About Openly Local</a> :: 
        <span about="" rel="foaf:maker">
          <span typeof="foaf:Person">
            Put together for sheer hell of it by <a href="http://countculture.wordpress.com" class="external", rel="foaf:blog" property="foaf:nick">CountCulture</a>.
          </span> :: <a href="http://twitter.com/CountCulture" title="">CountCulture on Twitter</a>
        </span>
        <br />
        Code at <a href="http://github.com/CountCulture/twfy_local_parser/" class="external">Github</a> :: <a href="http://github.com/CountCulture/twfy_local_parser/issues" class="external">Report Bugs/Request new features</a> :: <a href="http://twitter.com/OpenlyLocal">OpenlyLocal Twitter notifications</a>
      </div>
  </div>
</body>
</html>
